form {
  display: flex;
  flex-direction: column;
}
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
label {
  margin-right: 10px;
  color: black;
  width: 150px;
}
input {
  flex: 1;
  margin: 5px 0;
}
hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}
button {
  margin-top: 10px;
}
message {
  transition: opacity 0.5s ease;
  opacity: 0;
  color: black;
}